art==6.1
gym~=0.21.0
gymnasium~=0.28.1
imageio==2.31.1
joblib~=1.1.1
matplotlib~=3.6.2
mujoco==2.3.7
mushroom-rl==1.10.0.post2
numpy~=1.23.4
Pillow~=9.4.0
torch~=1.11.0
tqdm~=4.43.0

adam~=0.0.0.dev0
scipy~=1.8.1
argparse~=1.4.0